/* --------------- Variables --------------- */

:root {
  --text-color-1: black;
  --text-color-2: white;
  --text-color-3: #028194;

  --main-color-1: black;

  --section-padding: 7rem;

  --time-1: 0.3s;
  --time-2: 0.5s;
  --time-3: 1s;
  --time-4: 1.5s;
  --time-5: 5s;
}

/* --------------- General Styles --------------- */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

body {
  overflow-x: hidden;
  background-color: #028194;
  background-position: center -200px;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inter", sans-serif;
}

body.loading .header,
body.loading .main,
body.loading .footer {
  opacity: 0; /* Initially set the opacity to 0 while the image is loading */
}

body.stopScrolling {
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* --------------- Reusable CSS Code --------------- */

.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
  will-change: transform;
  transition: transform var(--time-2);
}

.section {
  position: relative;
  padding: var(--section-padding);
  width: 100%;
  min-height: 100vh;
  scroll-snap-align: start;
  overflow: hidden;
}

.logo {
  width: 300px;
  margin-right: 1.5rem;
  font-size: 2.5rem;
  color: var(--text-color-1);
  letter-spacing: 1px;
  text-transform: capitalize;
}

.sub-heading {
  color: var(--text-color-1);
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  padding: 0.13rem 0.75rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.heading {
  color: var(--text-color-1);
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
}

.text {
  color: var(--text-color-1);
  font-size: 1rem;
  margin-bottom: 2rem 0;
  line-height: 2.3;
}

.nav-btn,
.btn {
  display: inline-block;
  padding: 0.9rem 1.75rem;
  background-color: var(--main-color-1);
  color: var(--text-color-2);
  font-size: 0.85rem;
  letter-spacing: 0.4px;
  min-width: 125px;
  width: max-content;
  height: min-content;
  text-align: center;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
  will-change: mix-blend-mode, color, opacity;
  transition: color var(--time-1), opacity var(--time-3);
  mix-blend-mode: multiply;
}

.btn {
  opacity: 0;
}

/* .btn:hover {
  color: #fff;
  mix-blend-mode: initial;
} */

/* .nav-btn:hover {
  color: #fff;
  mix-blend-mode: initial;
} */

/* .courses .container:has(.btn:hover),
.header .container:has(.nav-btn:hover) {
  mix-blend-mode: initial;
} */

/* .nav-btn::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2rem;
  background-color: var(--text-color-2);
  z-index: -1;
  opacity: 0;
  transition: var(--time-1);
}

.nav-btn:hover::after,
.nav-btn.active::after {
  width: 100px;
  opacity: 1;
} */

.en {
  display: none;
}

.bubble {
  position: absolute;
  opacity: 0;
  z-index: 110;
}

.click-bubble {
  will-change: opacity, top;
  transition: opacity var(--time-2), top var(--time-5);
  z-index: 110;
}

.img {
  opacity: 0;
  will-change: opacity;
  transition: opacity var(--time-3);
}

.fade-in {
  opacity: 1;
}

/* .body:not(.loading) .loader {
  display: none;
}

body.loading .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  border: 4px solid var(--text-color-2);
  border-top: 4px solid var(--text-color-1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.arrow {
  display: none;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
}
.arrow-icon {
  font-size: 1.5rem;
  transform: scale(0.8);
}
.arrow-icon:hover {
  transform: scale(1);
}

/* --------------- Navbar Styling --------------- */

header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 220px;
  z-index: 10;
  border-top: 2px solid var(--main-color-1);
  opacity: 0;
  will-change: opacity;
  transition: opacity var(--time-2) ease-in-out;
  mix-blend-mode: multiply;
}

nav.container {
  padding: 0 110px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.links ul {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-link {
  position: relative;
  display: inline-block;
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--text-color-1);
  font-weight: 600;
  opacity: 0.9;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: calc(-0.5rem + 2.5px);
  right: -1rem;
  width: 0;
  height: 2rem;
  background-color: var(--main-color-1);
  z-index: -1;
  opacity: 0;
  will-change: opacity, width;
  transition: var(--time-1);
}

.nav-link:hover,
.nav-link.active {
  color: var(--text-color-1);
}

.nav-link:hover::after,
.nav-link.active::after {
  width: calc(100% + 2rem); /* 100% plus link margin * 2 for both sides*/
  opacity: 0.2;
}

/* --------------- Hamburger --------------- */

.hamburger {
  display: none;
  padding: 1rem 0;
  height: 12px;
  width: 25px;
  box-sizing: content-box;
  cursor: pointer;
  position: relative;
}

.hamburger .bar {
  width: 100%;
  height: 3px;
  background-color: var(--main-color-1);
  border-radius: 3px;
  position: absolute;
}

.hamburger .bar:first-child {
  top: 1rem;
  will-change: top, transform;
  transition: top 0.2s 0.15s, transform 0.3s;
}

.hamburger .bar:last-child {
  bottom: 1rem;
  will-change: bottom, transform;
  transition: bottom 0.2s 0.15s, transform 0.3s;
}

body.open .hamburger .bar:first-child {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  background-color: var(--text-color-3);
  will-change: top, transform;
  transition: top 0.2s, transform 0.3s 0.1s;
}

body.open .hamburger .bar:last-child {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  background-color: var(--text-color-3);
  will-change: bottom, transform;
  transition: bottom 0.2s, transform 0.3s 0.1s;
}

/* --------------- Courses / Locations--------------- */

.courses .container {
  mix-blend-mode: multiply;
}

.location,
.course {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 10rem 5rem 10rem;
}

.location {
  margin: 0 10rem 7.5rem 10rem;
}

.course:nth-of-type(even),
.location:nth-of-type(even) {
  text-align: right;
  justify-content: flex-end;
}

.location .btn,
.course .btn {
  margin: auto;
}

.adult-2 {
  display: none;
}

.kib-2 {
  display: none;
}

.info {
  max-width: 750px;
}

.info:nth-of-type(even) {
  margin: 0 0 5rem 10rem;
}

#ww img {
  margin-left: auto;
  width: 300px;
}

#kib img {
  margin-right: auto;
  width: 300px;
}

/* --------------- Footer --------------- */

footer {
  position: absolute;
  width: 100%;
  height: 315px;
  background-color: black;
  /* mix-blend-mode: multiply; */
  z-index: 100;
  color: var(--text-color-3);
}
footer a {
  color: var(--text-color-3) !important;
}

footer .container {
  padding: 0 110px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.social-media,
.copy {
  display: flex;
  width: 300px;
  justify-content: flex-end;
}

.social-link {
  margin: 1rem;
  display: flex;
  align-items: center;
}

/* --------------- Booking ---------------

.calendar.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

body:has(#booking) {
  overflow-x: hidden;
  background-color: #028194;
  background-image: url("./assets/background1920-compressed.webp");
  background-position: center -100vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inter", sans-serif;
} */

/* Modals Calendar */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 11;
  pointer-events: none;
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  transition: var(--time-1);
}

.booking {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 400px));
  width: 800px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-items: center;
  opacity: 0;
  transition: 0.2s;
}

/* .booking #calendar {
  width: 100%;
  height: 100%;
} */

#calendar {
  /* max-width: 1100px; */
  width: 90%;
  margin: 0 auto;
  background-color: var(--text-color-2);
  overflow: hidden;
}

.fc-scroller {
  overflow: hidden !important ;
}

.courses.open .modal {
  pointer-events: auto;
}

.courses.open .modal-overlay {
  opacity: 1;
}

.courses.open .container {
  transform: scale(0.9);
}
/* .courses.open .body {
  background-size: 90%;
} */

.courses.open .booking {
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: 0.45s 0.1s;
}

@media (max-width: 1741px) {
  header {
    height: 170px;
  }

  .location,
  .course {
    margin: 0 5rem 5rem 5rem;
  }

  .location {
    margin: 0 5rem 5rem 5rem;
  }
}
@media (max-width: 1533px) {
  .location,
  .course {
    margin: 0 2.5rem 5rem 2.5rem;
  }

  .location {
    margin: 0 2.5rem 5rem 2.5rem;
  }
}

@media (max-width: 1461px) {
  .location,
  .course {
    margin: 0 2.5rem 5rem 2.5rem;
  }

  .location {
    margin: 0 2.5rem 5rem 2.5rem;
  }

  /* General Styles */
  .sub-heading {
    font-size: 0.75rem;
  }

  .heading {
    font-size: 1.75rem;
  }

  .text {
    font-size: 0.84rem;
    margin-bottom: 1.3rem;
  }
}

@media (max-width: 1157px) {
  .location,
  .course {
    margin: 0 2.5rem 2.5rem 2.5rem;
  }

  .location {
    margin: 0 2.5rem 2.5rem 2.5rem;
  }
  :root {
    --section-padding: 4.5rem;
  }

  .section {
    display: flex;
    align-items: flex-end;
  }

  .arrow {
    display: flex;
  }

  /* Mobile Navigation */
  .hamburger {
    display: block;
  }

  header {
    bottom: unset;
    top: 0;
    height: 345px;
    max-height: 100px;
    border-top: none;
    overflow: hidden;
    mix-blend-mode: initial;
  }

  header .logo {
    height: 100px;
    line-height: 100px;
  }

  body.open header .logo {
    color: var(--text-color-3);
  }

  header nav {
    justify-content: space-between;
  }

  .nav-btn {
    display: none;
  }

  body.open header {
    max-height: 345px;
    background-color: var(--main-color-1);
  }

  body.open .overlay {
    opacity: 1;
    pointer-events: auto;
  }

  body.open .links {
    opacity: 1;
  }

  .links {
    order: 3;
    flex-basis: 100%; /* 100% of the width */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0 2rem;
    opacity: 0;
    transition: var(--time-1);
  }

  .links ul {
    position: relative;
    flex-direction: column;
  }

  body.open .nav-link {
    margin: 1.5rem 0;
    color: var(--text-color-3);
    font-weight: 500;
  }

  .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 6;
    opacity: 0;
    transition: var(--time-1);
    pointer-events: none;
  }
}

@media (max-width: 1075px) {
  .section {
    scroll-snap-align: unset;
  }
  .course,
  .location {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .course:nth-of-type(even),
  .location:nth-of-type(even) {
    text-align: center;
    justify-content: center;
    margin-top: 15rem;
  }

  .img,
  .booking-btn {
    margin: auto;
  }

  .adult-1 {
    display: none;
  }

  .adult-2 {
    display: block;
  }

  .kib-1 {
    display: none;
  }

  .kib-2 {
    display: block;
  }
}

@media (max-width: 845px) {
  footer .container {
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .social-media {
    width: min-content;
  }
  footer .logo {
    margin: 0;
    width: min-content;
  }
}

@media (max-width: 775px) {
  .section {
    padding: 7rem 0;
  }
  nav.container {
    padding: 0 50px;
  }
  .course,
  .location {
    margin: 0;
  }
}

@media (max-width: 500px) {
  nav.container {
    padding: 0 1.5rem;
  }
  nav .logo {
    width: min-content;
    font-size: 2rem;
  }
}
